<div id="footer">
  <div id="footer">
   <ul class="list-inline">
     <i class="fa fa-youtube"></i>
     <i class="fa fa-instagram"></i>
     <i class="fa fa-facebook"></i>
     <i class="fa fa-twitter"></i>
   </ul>
   <p>This is a Airbnb Home challenge @ LeWagon</p>
  </div>
</div>
